<footer class="row container-fluid" style="background-color: #FFE6CC">
  <div class="col-10" >
    <div class="form-group row">
      <div class="col-md-1"></div>
      <label class="col-md-2 col-form-label">Política de cookies</label>
    </div>
    <div class="form-group row">
      <div class="col-md-1"></div>
      <label class="col-md-2 col-form-label">Aviso legal</label>
    </div>
    <div class="form-group row">
      <div class="col-md-1"></div>
      <label class="col-md-2 col-form-label">Condiciones de uso</label>
    </div>
  </div>
  <div class="col-2" id="logos">
    <h5 style="text-align: center">SÍGUENOS</h5>
    <div class="row">
   <div class="col-3">
    <img src="assets/img/whatsapp-logo.jpg"  class="d-inline-block img-fluid" alt="">
   </div>
    <div class="col-3">
      <img src="assets/img/twitter-logo.png"  class="d-inline-block img-fluid" alt="">
    </div>
    <div class="col-3">
      <img src="assets/img/facebook-logo.png"  class="d-inline-block img-fluid" alt="">
    </div>
    <div class="col-3">
      <img src="assets/img/instagram-logo.jpg" class="d-inline-block img-fluid" alt="">
    </div>
    </div>
  </div>
</footer>
